.titleAcordion{
	margin: 0px;
}
.titleAcordion .ui-accordion-header{
	width: 94%;
	padding: 5px 15px;
	margin: 4px;
	background: #034DA2;
}
.titleAcordion .ui-accordion-header:hover{
	background: #06d;
}
.titleAcordion .ui-accordion-header a{
	text-decoration: none;
	color: #fff;
}
.titleAcordion .ui-accordion-content{
	padding: 5px 25px;
}
.titleAcordion .ui-accordion-content label .verde{
	color: #0a3;
}
.titleAcordion .ui-accordion-content label .vermelho{
	color: #f00;
}
.titleAcordion .ui-accordion-content label .amarelo{
	color: #DAA520;
}

.titleAcordion .ui-accordion-content table tfoot tr, .titleAcordion .ui-accordion-content table tbody tr{
	border: 2px solid #034DA2;
	border-bottom: 2px solid #d9d9d9;
}
.titleAcordion .ui-accordion-content table{
	margin-top: 10px;
	width: 100%;
	border: 2px solid #034DA2;
}
.titleAcordion .ui-accordion-content table tr td{
	padding: 4px 0;
	font-weight: normal;
}
.titleAcordion .ui-accordion-content table tr th{
	text-align: left;
	padding-left: 5px;
	background: #034DA2;
	color: #fff;
}
.titleAcordion .ui-accordion-content table tr td{
	padding-left: 10px;
}
.titleAcordion .ui-accordion-content table tfoot, .titleAcordion .ui-accordion-content table tbody{
	border: 2px solid #034DA2;
	border-top: 2px solid #034DA2;
	font-weight: bold;
}
.titleAcordion .ui-accordion-content table tfoot .ultimo{
	border-bottom: 2px solid #034DA2;
}
.titleAcordion .ui-accordion-content table .dados-pedido-feito .texto, .titleAcordion .ui-accordion-content table .dados-pedido-feito .valor,.titleAcordion .ui-accordion-content table .dados-pedido-feito .texto-frete{
	font-weight: bold;
}
.titleAcordion .ui-accordion-content table .dados-pedido-feito .texto{
	text-align: right;
}
.titleAcordion .ui-accordion-content table .dados-pedido-feito .valor{
	color: #f00;
}

