{% extends 'index.html' %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" 

/>
<link href="../midias/js/shadowbox-3.0.3/shadowbox.css" 

rel="stylesheet" type="text/css"/>
<script type="text/javascript" 

src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../midias/js/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
	language: 'pt',
	player: ['img','html','swf',],
	});
</script>

{% block tituloPagina %} - Inauguração {% endblock %}

{% block conteudo %}

<style type="text/css">

div.galeria{width:600px; margin:40px auto 55px auto;}

div.galeria ul li{list-style:none; display:inline-table;}


div.galeria ul li a img{
	border:2px #690 solid;
}

div.galeria ul li a img:hover{
	border:2px #333 solid;
}
</style>

	<div class="linksuteis"><h2>Área de inauguração do sincomérico</h2>	</div>
	
	<div class="galeria">
    <ul>
	
	<!-- NOVAS FOTOS -->

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Sede Sincomercio-Matao -  18 abril 2011 001.jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Sede Sincomercio-Matao -  18 abril 2011 001.jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Auditório Sincomercio - inauguracao nova sede - 18 abril 2011 (3).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Auditório Sincomercio - inauguracao nova sede - 18 abril 2011 (3).jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Sincomercio - inauguracao nova sede - 18 abril 2011 (4).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Sincomercio - inauguracao nova sede - 18 abril 2011 (4).jpg" width="100" height="100"/></a><br></li>
	
	
    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Pe. Marcos Peão Sincomercio - inauguracao nova sede - 18 abril 2011 (6).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Pe. Marcos Peão Sincomercio - inauguracao nova sede - 18 abril 2011 (6).jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Presidente Antonio Geraldo Giannini e Vice Presidente Jose Antonio Fragali decerrando placa de Inauguração nova sede - 18 abril 2011 (7).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Presidente Antonio Geraldo Giannini e Vice Presidente Jose Antonio Fragali decerrando placa de Inauguração nova sede - 18 abril 2011 (7).jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Placa de Inauguração Sede Sincomercio - 18 abril 2011 (8).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Placa de Inauguração Sede Sincomercio - 18 abril 2011 (8).jpg" width="100" height="100"/></a><br></li>
	
	
    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Antonio Geraldo Giannini entregando placa de homenagem a Diretora Secretária Tania Ap. Geraldo na inauguracao da nova sede do Sincomercio - 18 abril 2011 (11).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Antonio Geraldo Giannini entregando placa de homenagem a Diretora Secretária Tania Ap. Geraldo na inauguracao da nova sede do Sincomercio - 18 abril 2011 (11).jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Antonio Geraldo Giannini entregando placa de homenagem para o Diretor Tesoureiro do Sincomercio na inauguracao nova sede Sincomercio - 18 abril 2011 (13).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Antonio Geraldo Giannini entregando placa de homenagem para o Diretor Tesoureiro do Sincomercio na inauguracao nova sede Sincomercio - 18 abril 2011 (13).jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Oreste Jose Bozelli, Vice Presidente fundador do Sincomércio recebendo homenagem do Sincomercio - inauguracao nova sede - 18 abril 2011 (23).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Oreste Jose Bozelli, Vice Presidente fundador do Sincomércio recebendo homenagem do Sincomercio - inauguracao nova sede - 18 abril 2011 (23).jpg" width="100" height="100"/></a><br></li>

	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Presidente Antonio Geraldo Giannini na  inauguracao da nova sede Sincomércio - 18 abril 2011 (28).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Presidente Antonio Geraldo Giannini na  inauguracao da nova sede Sincomércio - 18 abril 2011 (28).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Antonio Geraldo Giannini ladeado pelo Sr. Antonio Carlos Chiozini e Sr. Roberto Cadiolli - inauguracao nova sede - 18 abril 2011 (42).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Antonio Geraldo Giannini ladeado pelo Sr. Antonio Carlos Chiozini e Sr. Roberto Cadiolli - inauguracao nova sede - 18 abril 2011 (42).jpg" width="100" height="100"/></a><br></li>

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Antonio Geraldo Giannini, Presidente do Sincomercio e Jose Carlos Aparecido Pelegrini,  Presidente do Sincomerciário - inauguracao nova sede - 18 abril 2011 (43).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Antonio Geraldo Giannini, Presidente do Sincomercio e Jose Carlos Aparecido Pelegrini,  Presidente do Sincomerciário - inauguracao nova sede - 18 abril 2011 (43).jpg" width="100" height="100"/></a><br></li>

	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/Sincomercio recepcionando convidados no dia da inauguracao nova sede - 18 abril 2011 (58).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/Sincomercio recepcionando convidados no dia da inauguracao nova sede - 18 abril 2011 (58).jpg" width="100" height="100"/></a><br></li>
	
	
	
	<!-- FIM NOVAS FOTOS -->
<!--     <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (3).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (3).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (4).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (4).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (6).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (6).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (7).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (7).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (8).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (8).jpg" width="100" height="100"/></a><br></li> -->
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (38).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (38).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (39).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (39).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (40).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (40).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (55).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (55).jpg" width="100" height="100"/></a><br></li>
    

    <li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (64).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (64).jpg" width="100" height="100"/></a><br></li>
	
	<li><a rel="shadowbox[roadtrip]" href="{{ MEDIA_URL }}/imgs/640x480/inauguracao nova sede (67).jpg">
	<img src="{{ MEDIA_URL }}/imgs/155x119/inauguracao nova sede (67).jpg" width="100" height="100"/></a><br></li>
	</ul>
	</div>
    
    <hr class="divisoria"/>
    <p>Contrate nossos serviços pelo telefone <b>3383-

8200</b>.<br />
      <br />
      <b>Data de Fundação:</b>  29 de março de 1990.<br />
      <b>Número de associados:</b> 417<br />
      <b>Base Territorial:</b> O Sincomércio abrange as cidades 

de Dobrada,  Santa Ernestina e o Distrito de São Lourenço do 

Turvo.</p>
    <p>Ramo de Atividade para associar-se ao Sindicato: <br />
      Comércio Varejista em Geral.</p>
<br/>
	<br/>
	<a href="javascript:history.back(-1)" class="link-

voltar">&laquo; Voltar</a>
{% endblock %}
