{% extends 'index.html' %}

{% block tituloPagina %} - Contato {% endblock %}

{% block conteudo %}

<div class="linksuteis"><h2>REPIS</h2></div>
	<hr class="divisoria"/>
	
<div id="molduraREPIS">
<h4 style="margin:3px;color: #039">REPIS - Regime Especial de Pisos Salariais</h4>

 
<p style="font-weight: bold; margin-top: 20px">O QUE É:</p>
	<div id="OQUE">
		Regime Especial de Piso Salarial – REPIS, é o sistema previsto em norma coletiva de trabalho (Cláusula 5 da Convenção Coletiva de Trabalho 2011-2012, aplicável aos comerciários), objetivando dar tratamento diferenciado e favorecido às Microempresas (ME’s) e Empresas de Pequeno Porte (EPP’S), assim conceituadas na Lei Complementar nº 123/06, que instituiu o Simples Nacional. 
 </div>
 
<p style="font-weight: bold; margin-top: 30px">COMO FUNCIONA:</p>
	<div id="OQUE">
		Na prática, as empresas que aderirem ao REPIS, poderão praticar valores de pisos salariais diferenciados nesse caso, inferiores àqueles praticados pelas demais empresas, não enquadradas na Lei do Simples. 
	</div>
 
<p style="font-weight: bold; margin-top: 30px">DOCUMENTOS NECESSÁRIOS PARA ADESÃO:</p>
	<div >
	<ul>
		<li id="DocumentosNE">
			 Requerimento com dados completos da empresa, dados do contabilista e proprietário/sócio e outros, no qual declara sob as penas da lei e por ela assumindo inteira responsabilidade que nos termos da Lei 123/2006, a empresa possui condições de ser admitida ao REPIS como EPP ou ME, ou seja, que a receita auferida no ano-calendário vigente ou proporcional ao mês da declaração permite enquadrá-la como ME ou EPP. 
		</li>
	</ul>
	</div>
 
<p style="font-weight: bold; margin-top: 40px;color:red";>IMPORTANTE:</p>
 <div id="IMPORTANTE">A entidade sindical representativa poderá solicitar apresentação de documentos comprobatórios dos dados contidos no requerimento.</div>

 <br>
<a href="{{MEDIA_URL}}download/requer.repis 2011-2012.doc" style="text-decoration: none"><p style="font-weight: bold; margin-top: 30px;color:#999898";>Clique aqui </p> </a><div id="CLIK">para imprimir modelo de requerimento adesão REPIS - ME ( Micro Empresa) e EPP ( Empresa de pequeno porte) 2011/2012 2011/2012</div>

 
<p style="font-weight: bold; margin-top: 40px">DAS PENALIDADES:</p>
	<div id="DAsPENal">
		Nos atos homologatórios de rescisão de contrato de trabalho e comprovação perante a Justiça do Trabalho ao direito do pagamento dos salários de menor valor, a prova do empregador se fará através da apresentação do CERTIFICADO DE ADESÃO AO REPIS.<br>
		A empresa que não possuir CERTIFICADO DE ADESÃO AO REPIS, mas praticar piso de menor valor, ao final do contrato o funcionário, terá direito por lei, em receber as eventuais diferenças salariais. 
 </div>
<p style="font-weight: bold; margin-top: 40px">DO PRAZO DE ADESÃO:</p>

<div id="PrazoADS">O prazo de adesão ao  <p style="font-weight: bold;margin-left: 126px;margin-top: -15px;">REPIS para a CCT 2011-2012 será</p> <p style="margin-left: 320px;margin-top: -15px;">o dia</p>  <p style="font-weight: bold;margin-left: 352px;margin-top: -15px;">17/03/2012.</p></div>

<p style="font-weight: bold; margin-top: 30px">DA VALIDADE:</p>

<div id="Validade"> O <p style="font-weight: bold; margin-top: -15px; margin-left: 14px;">CERTIFICADO de adesão ao  REPIS, referente à CCT 2011-2012 terá validade até o dia 31/08/2012.</p></div>
 
<!-- <p style="font-weight: bold; margin-top: 30px">MAIORES INFORMAÇÕES:</p>

<p style="font-weight: bold; margin-top: 30px">Sincomércio Matão</p>
<p style="font-weight: bold; margin-top: 10px">Telefone: </p> <div id="telefone">(16) 3383 - 8200</div>
<p style="font-weight: bold; margin-top: 10px">E-mail: </p><div id="E-mail">scvmatao@fecomercio.com.br</div> 
<p style="font-weight: bold; margin-top: 10px;">Site: </p><div id="Site">http://www.sincomerciomatao.com.br</div> -->
</div>	
{% endblock %}