{% extends 'index.html' %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
{% block tituloPagina %} - Serviços {% endblock %}

{% block conteudo %}
	<div class="linksuteis"><h2>Serviços Prestados pelo Sincomércio</h2></div>	
	<hr class="divisoria"/>
	 <div id="dadoimagem">
			<img src="{{MEDIA_URL}}imgs/IMG_0089.png"  width="116" height="143" /> 
	</div>
	<div id="dado">
		
	<ul class="servicos">
      <li>Negociação Salarial e Horário  de Funcionamento do Comércio;</li>
      <li>Campanhas Promocionais;</li>
      <li>Orientação Trabalhista;</li>
      <li>Orientação Cívil;</li>
      <li>Um prédio totalmente adaptado para acessiibilidade</li>
      <li>Auditório para Palestras e treinamentos ( Espaço para l03  lugares e mais 3 lugares para pessoas especiais, Retro Projetor, som e  Ar-Condicionado). </li>
      <li>Salas para treinamento com equipamento de imagem e som</li>
      <li> Videopalestras;</li>
      <li>180 DVD&rsquo;S –Palestras direcionadas à vendas, motivação;  Comportamento, Atitude, Empregabilidade, Marketing, Alta Gerencia; Atendimento,  Relações Humanas, Liderança e Educativo;</li>
      <li>Convênio Médico Unimed;</li>
      <li>Convênio medico para exames ocupacionais;</li>
      <li>Convênio /SENAC  -  &ldquo;treinamento para o &ldquo;Aprendiz&rdquo;;</li>
      <li>Parceria com SEBRAE, SESC e SENAC;</li>
      <li>Cooperativa de Credito para empresas associadas e seus  funcionários.</li>
    </ul>
    <p style="font-size: 12px;">Contrate nossos serviços pelo telefone <b>3383-8200</b>.<br />
      <br />
      <b>Data de Fundação:</b>  29 de março de 1990.<br />
      <b>Número de associados:</b> 417<br />
      <b>Base Territorial:</b> O Sincomércio abrange as cidades de Dobrada,  Santa Ernestina e o Distrito de São Lourenço do Turvo.
	</p>
    <p style="font-size: 12px;">Ramo de Atividade para associar-se ao Sindicato: <br />
      Comércio Varejista em Geral.</p>
      
      </div>
      
<br/>
	<br/>
	<a href="javascript:history.back(-1)" class="link-voltar">&laquo; Voltar</a>
{% endblock %}